*{
    font-family: IRANSansX, "Helvetica Neue", sans-serif !important;
}
.ever{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: white;
    direction: rtl;
    .title{
        display: flex;
        align-items: center;
        img{
            width: 7rem;
        }
    }
}

.link{
    background-color: #1D68E8;
    width: 9rem;
    height: 3rem;
    border-radius: 25px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 300;
    cursor: pointer;
}
.list-style ul{
    list-style: none;
    padding: 0;
    display: flex;
    padding-left: 1rem;
}
.list-style li{
    padding-right: 1rem;
    padding-left: 1rem;
}
.frm{
    cursor: pointer;
}
.title h1{
    font-size: 21px;
    font-weight: bolder;
}
.title span{
    color: #1D68E8;
}
@media screen and (max-width:992px) {
    .list-style{
        display: none;
    }
    .ever{
        flex-direction: column;
    }
}