<div class="ever">
  <div class="title">
    <h2><span> نمونه کارهای </span> ما</h2>
  </div>
  <div class="boxes">
    @for(image of images; track image.id; let i = $index){
      <div class="box">
        <div class="picture">
          <img
            [src]="image.imageSrc"
            [alt]="image.imageAlt"
          />
        </div>
        <div class="para">
          <p>{{image.header}}</p>
          <h3>{{image.title}}</h3>
        </div>
        <div class="link">
          <a [href]="image.href">
            <span> مشاهده نمونه کار </span>
          </a>
        </div>
      </div>

    }

  </div>
</div>
