* {
  font-family: IRANSansX, "Helvetica Neue", sans-serif !important;
}
.ever {
  height: 37rem;
  position: relative;
}
.title {
  text-align: right;
  width: 96%;
  margin-top: 5rem;
}
.title h2 {
  font-size: 24px;
  font-weight: bold;
  opacity: 0.7;
}
.title span {
  color: #1d68e8;
}
.templates {
  display: flex;
  justify-content: center;
  gap: 2rem;
  flex-wrap: wrap;
  flex-direction: row-reverse;
  position: relative;
  transform-style: preserve-3d;
  perspective: 500px;
}
.template {
  background-color: white;
  border-radius: 17px;
  width: 20rem;
  margin-bottom: 1rem;
  padding-bottom: 1rem;
  position: absolute;
  top: calc(50% - 100px);
  left: calc(50% - 150px);
  transition: 0.5s;
  box-shadow: 0 0 50px rgba(0, 0, 0, 0.5);
  transform-style: preserve-3d;
  transform-origin: bottom;
  user-select: none;
  -webkit-box-reflect: below 1px
    linear-gradiant(transparent, transparent, #0002);
}
.template:nth-child(1) {
  transform: translate3d(-450px, 0, 0) scale(0.8) rotateY(25deg);
  z-index: 1;
}

.template:nth-child(2) {
  transform: translate3d(-250px, 0, 0) scale(0.9) rotateY(15deg);
  z-index: 2;
}
.template:nth-child(3) {
  transform: translate3d(0px, 0, 0) scale(1) rotateY(0deg);
  z-index: 3;
}
.template:nth-child(4) {
  transform: translate3d(250px, 0, 0) scale(0.9) rotateY(-15deg);
  z-index: 4;
}
.template:nth-child(5) {
  transform: translate3d(450px, 0, 0) scale(0.8) rotateY(-25deg);
  z-index: 2;
}
.picture {
  text-align: center;
  img {
    border-radius: 13px;
    height: 25rem;
    width: 100%;
  }
}
.para {
  text-align: right;
  padding-right: 2rem;
}
.para p {
  opacity: 0.7;
}
.para h3 {
  font-size: 25px;
  font-weight: bold;
  opacity: 0.8;
}
.link {
  text-align: center;
  margin-top: 2rem;
}
.link span {
  padding: 0.7rem;
  background-color: #1d68e812;
  text-decoration: none;
  color: #1d68e8;
  padding-right: 4.5rem;
  padding-left: 4.5rem;
  border-radius: 8px;
  cursor: pointer;
}
a {
  text-decoration: none;
}
.buttons {
  position: absolute;
  bottom: 75px;
  display: flex;
  gap: 20px;
  span {
    position: relative;
    width: 50px;
    height: 50px;
    border: 2px solid #000;
    border-radius: 50%;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.5s;
    opacity: 0.5;
    &:hover {
      opacity: 1;
    }
  }
}
.buttons span::before {
  content: "";
  position: absolute;
  left: 20px;
  width: 10px;
  height: 10px;
  border-top: 2px solid #000;
  border-left: 2px solid #000;
  rotate: -45deg;
}
.buttons span:last-child::before {
  content: "";
  position: absolute;
  left: inherit;
  right: 20px;
  width: 10px;
  height: 10px;
  border-top: 2px solid #000;
  border-left: 2px solid #000;
  rotate: 135deg;
}
