*{
    font-family: IRANSansX, "Helvetica Neue", sans-serif !important;
}
.title{
    text-align: right;
    width: 96%;
    margin-top: 5rem;
}
.title h2{
    font-size: 24px;
    font-weight: bold;
    opacity: 0.7;
}
.title span{
    color: #1D68E8;
}
.boxes{
    display: flex;
    justify-content: center;
    gap: 2rem;
    flex-wrap: wrap;
    flex-direction:row-reverse ;
    .box{
        background-color: white;
        border-radius: 17px;
        width: 20rem;
    margin-bottom: 1rem;
    padding-bottom: 1rem;
    }
}
.picture{
    text-align: center;
    img{
       border-radius: 13px;
       height: 25rem;
       width: 100%;
   }
}
.para{
    text-align: right;
    padding-right: 2rem;
}
.para p{
    opacity: 0.7;
}
.para h3{
    font-size: 25px;
    font-weight: bold;
    opacity: 0.8;
}
.link{
    text-align: center;
    margin-top: 2rem;
}
.link span{
    padding: 0.7rem;
    background-color: #1D68E812;
    text-decoration: none;
    color: #1D68E8;
    padding-right: 4.5rem;
    padding-left: 4.5rem;
    border-radius: 8px;
    cursor: pointer;
}
a{
    text-decoration: none;
}