<div dir="rtl" class="frm">
    <form [formGroup]="firstFormGroup">
      <mat-form-field appearance="outline">
        <mat-label>نام</mat-label>
        <input matInput formControlName="firstName" />
      </mat-form-field>
      <mat-form-field appearance="outline">
          <mat-label>نام خانوادگی</mat-label>
          <input matInput formControlName="lastName" />
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>نام مجموعه</mat-label>
          <input matInput formControlName="address" />
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>تلفن</mat-label>
          <input matInput formControlName="phoneNumber" />
        </mat-form-field>
   
        <button mat-flat-button (click)="SendInfo()">ارسال درخواست</button>
    </form>
    @if (isLoading) {
      <app-loading class="loading"></app-loading>
    }
    
  </div>