.frm{
    text-align: center;
    padding-top: 3rem;
    form{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}
.loading{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1;
}