<div class="ever">

         <div class="title">
                    <h2> سوالات متداول </h2>
         </div>
         <div class="boxes">
                   <div class="box">
                        <div class="box2">
                              <p> ساخت سایت با وردپرس چقدر زمانبر است؟ </p>
                              <span> <svg class="e-font-icon-svg e-fas-plus" viewBox="0 0 448 512" xmlns="http://www.w3.org/2000/svg"><path d="M416 208H272V64c0-17.67-14.33-32-32-32h-32c-17.67 0-32 14.33-32 32v144H32c-17.67 0-32 14.33-32 32v32c0 17.67 14.33 32 32 32h144v144c0 17.67 14.33 32 32 32h32c17.67 0 32-14.33 32-32V304h144c17.67 0 32-14.33 32-32v-32c0-17.67-14.33-32-32-32z"></path></svg> </span>
                        </div>
                   </div>
                   <div class="box">
                        <div class="box2">
                              <p> ساخت سایت با وردپرس چقدر زمانبر است؟ </p>
                              <span> <svg class="e-font-icon-svg e-fas-plus" viewBox="0 0 448 512" xmlns="http://www.w3.org/2000/svg"><path d="M416 208H272V64c0-17.67-14.33-32-32-32h-32c-17.67 0-32 14.33-32 32v144H32c-17.67 0-32 14.33-32 32v32c0 17.67 14.33 32 32 32h144v144c0 17.67 14.33 32 32 32h32c17.67 0 32-14.33 32-32V304h144c17.67 0 32-14.33 32-32v-32c0-17.67-14.33-32-32-32z"></path></svg> </span>
                        </div>
                   </div>
                   <div class="box">
                        <div class="box2">
                               <p> چگونه میتوانم از خدمات مشاوره سئو وبسایت استفاده کنم؟ </p>
                               <span> <svg class="e-font-icon-svg e-fas-plus" viewBox="0 0 448 512" xmlns="http://www.w3.org/2000/svg"><path d="M416 208H272V64c0-17.67-14.33-32-32-32h-32c-17.67 0-32 14.33-32 32v144H32c-17.67 0-32 14.33-32 32v32c0 17.67 14.33 32 32 32h144v144c0 17.67 14.33 32 32 32h32c17.67 0 32-14.33 32-32V304h144c17.67 0 32-14.33 32-32v-32c0-17.67-14.33-32-32-32z"></path></svg> </span>
                        </div>
                   </div>
                   <div class="box">
                        <div class="box2">
                               <p> هزینه طراحی سایت با وردپرس چقدر است؟ </p>
                               <span> <svg class="e-font-icon-svg e-fas-plus" viewBox="0 0 448 512" xmlns="http://www.w3.org/2000/svg"><path d="M416 208H272V64c0-17.67-14.33-32-32-32h-32c-17.67 0-32 14.33-32 32v144H32c-17.67 0-32 14.33-32 32v32c0 17.67 14.33 32 32 32h144v144c0 17.67 14.33 32 32 32h32c17.67 0 32-14.33 32-32V304h144c17.67 0 32-14.33 32-32v-32c0-17.67-14.33-32-32-32z"></path></svg> </span>
                        </div>
                   </div>
                   <div class="box">
                        <div class="box2">
                              <p> مدت زمان پشتیبانی از سایت طراحی شده چقدر است؟ </p>
                              <span> <svg class="e-font-icon-svg e-fas-plus" viewBox="0 0 448 512" xmlns="http://www.w3.org/2000/svg"><path d="M416 208H272V64c0-17.67-14.33-32-32-32h-32c-17.67 0-32 14.33-32 32v144H32c-17.67 0-32 14.33-32 32v32c0 17.67 14.33 32 32 32h144v144c0 17.67 14.33 32 32 32h32c17.67 0 32-14.33 32-32V304h144c17.67 0 32-14.33 32-32v-32c0-17.67-14.33-32-32-32z"></path></svg> </span>
                        </div>
                   </div>
                   <div class="box">
                        <div class="box2">
                              <p> آیا طراحی سایت نیاز به پلن و استراتژی دارد؟ </p>
                              <span> <svg class="e-font-icon-svg e-fas-plus" viewBox="0 0 448 512" xmlns="http://www.w3.org/2000/svg"><path d="M416 208H272V64c0-17.67-14.33-32-32-32h-32c-17.67 0-32 14.33-32 32v144H32c-17.67 0-32 14.33-32 32v32c0 17.67 14.33 32 32 32h144v144c0 17.67 14.33 32 32 32h32c17.67 0 32-14.33 32-32V304h144c17.67 0 32-14.33 32-32v-32c0-17.67-14.33-32-32-32z"></path></svg> </span>
                        </div>
                   </div>
         </div>


         @for(item of items; track item.id; let i = $index){
          <h3 (click)="toggleItem(i)">{{ item.title }}</h3>
               @if(item.isOpen){
                    <p>{{ item.content }}</p>

               }
         }
      
</div>