* {
  font-family: IRANSansX, "Helvetica Neue", sans-serif !important;
}
.page {
  direction: rtl;
  h2{
    font-size: 2rem;
    font-weight: bold;
  }
  .box {
    display: flex;
    align-items: center;
    gap: 10px;
    background: #fff;
    padding: 0.5rem 1rem;
    border-radius: 10px;
    margin-bottom: 0.5rem;
    cursor: pointer;
    h3 {
      font-size: 1.3rem;
      font-weight: 600;
      margin: 0;
      line-height: 2rem;
    }
  }
  .content {
    height: 0;
    overflow: hidden;
  }
  .open {
    font-size: 0.9rem;
    color: #000;
    border-radius: 10px;
    height: fit-content;
    transition: all 0.05s;
    background: #fff;
    padding: 0.5rem 3rem;
    margin: 0.5rem 1rem;
  }
  span {
    width: 1.3rem;
  }
}
