.page {
  direction: rtl;
  h2 {
    font-size: 1.5rem;
    font-weight: 800;
    line-height: 2rem;
  }
  .content-page{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 5px;


  }
  .card{
    width: 20rem;
    box-shadow: rgba(0, 0, 0, 0.3490196078) 0 5px 15px;
    border-radius: 11px;
    padding: 1rem 1.5rem;
    .pic{
      text-align: center;
    }
    h3{
        font-size: 1rem;
    font-weight: 600;
    margin: 0;
    }
    .txt{
        font-size: 0.9rem;
    }
  }
}
