<div class="page">
  <h2>برای داشتن یک سایت موفق به چه چیزهایی نیاز دارید؟</h2>
<div class="content-page">
  <div class="card">
    <div class="content">
      <div class="pic">
        <img src="/Image/webgood/1.webp" alt="ساخت سایت با سلیقه شما">
        <h3>طراحی و ساخت سایت متنباسب با سلیقه شما</h3>
        <div class="txt">
          هر قسمتی از وب سیت طبق سلیقه شما طراحی و تولید میشود
        </div>
      </div>
    </div>
  </div>
  <div class="card">
    <div class="content">
      <div class="pic">
        <img src="/Image/webgood/2.webp" alt="ساخت سایت با سلیقه شما">
        <h3>رتبه عالی در گوگل </h3>
        <div class="txt">
طراحی سایت شما با رعایت تمام استاندرد های سئو برای قرارگیری در رتبه های عالی گوگل        </div>
      </div>
    </div>
  </div>
  <div class="card">
    <div class="content">
      <div class="pic">
        <img src="/Image/webgood/3.webp" alt="ساخت سایت با سلیقه شما">
        <h3>پشتیبانی 24 ساعته</h3>
        <div class="txt">
          با سانیلو در تمام وقت  تمام مشکلات شکا برطرف میشود
        </div>
      </div>
    </div>
  </div>
  <div class="card">
    <div class="content">
      <div class="pic">
        <img src="/Image/webgood/4.webp" alt="ساخت سایت با سلیقه شما">
        <h3>طراحی قالب موبایل</h3>
        <div class="txt">
          تمام بخش سایت شما برای رابط کاربر موبایل طراحی میشود به طوری که کاربر شما به آسانی با سایت شما ارتباط برقرار نماید
        </div>
      </div>
    </div>
  </div>
</div>
</div>

