<div class="ever">
  <div class="title">
    <h2><span> مزایای </span> داشتن یک وب‌سایت آنلاین</h2>
  </div>
  <div class="boxes">
    <div class="box">
      <div class="icon">
        <div class="display">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="38"
            height="38"
            viewBox="0 0 38 38"
            fill="none"
          >
            <path
              opacity="0.4"
              d="M10.8933 28.7375V25.46"
              stroke="#1D68E8"
              stroke-width="2"
              stroke-linecap="round"
            ></path>
            <path
              opacity="0.4"
              d="M19 28.7375V22.1825"
              stroke="#1D68E8"
              stroke-width="2"
              stroke-linecap="round"
            ></path>
            <path
              opacity="0.4"
              d="M27.1067 28.7375V18.8892"
              stroke="#1D68E8"
              stroke-width="2"
              stroke-linecap="round"
            ></path>
            <g opacity="0.4">
              <path
                d="M27.1065 9.2619L26.3781 10.1169C22.3406 14.8352 16.9256 18.1761 10.8931 19.6802"
                stroke="#1D68E8"
                stroke-width="2"
                stroke-linecap="round"
              ></path>
              <path
                d="M22.4681 9.2619H27.1073V13.8852"
                stroke="#1D68E8"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round"
              ></path>
            </g>
            <path
              d="M14.25 34.8334H23.75C31.6667 34.8334 34.8334 31.6667 34.8334 23.75V14.25C34.8334 6.33335 31.6667 3.16669 23.75 3.16669H14.25C6.33335 3.16669 3.16669 6.33335 3.16669 14.25V23.75C3.16669 31.6667 6.33335 34.8334 14.25 34.8334Z"
              stroke="#1D68E8"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
            ></path>
          </svg>
        </div>
      </div>
      <h2>گذر از رقبا</h2>
      <p>با یک برندینگ درست به راحتی از رقبا پیشی بگیرید.</p>
    </div>
    <div class="box">
      <div class="icon">
        <div class="display2">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="38"
            height="38"
            viewBox="0 0 38 38"
            fill="none"
          >
            <path
              opacity="0.4"
              d="M22.8633 30.1625L25.2699 32.5692L30.0833 27.7559"
              stroke="white"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
            ></path>
            <path
              opacity="0.4"
              d="M19.2534 17.2109C19.095 17.195 18.905 17.195 18.7309 17.2109C14.9625 17.0842 11.97 13.9967 11.97 10.1967C11.9542 6.31752 15.105 3.16669 18.9842 3.16669C22.8634 3.16669 26.0142 6.31752 26.0142 10.1967C26.0142 13.9967 23.0059 17.0842 19.2534 17.2109Z"
              stroke="white"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
            ></path>
            <path
              d="M18.9841 34.5325C16.1024 34.5325 13.2366 33.8042 11.0516 32.3475C7.21994 29.7825 7.21994 25.6025 11.0516 23.0533C15.4058 20.14 22.5466 20.14 26.9008 23.0533"
              stroke="white"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
            ></path>
          </svg>
        </div>
      </div>
      <h2>تجربه کاربری بهتر</h2>
      <p>
        با یک طراحی درست مطابق با نیاز کاربران خود، تجربه خوبی برای کاربران رقم
        برنید.
      </p>
    </div>
    <div class="box">
      <div class="icon">
        <div class="display">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="38"
            height="38"
            viewBox="0 0 38 38"
            fill="none"
          >
            <path
              d="M26.4416 30.0517H11.5583C10.8933 30.0517 10.1491 29.5292 9.92745 28.8959L3.37245 10.5609C2.43828 7.93253 3.53078 7.12503 5.77912 8.74003L11.9541 13.1575C12.9833 13.87 14.1549 13.5059 14.5983 12.35L17.3849 4.92419C18.2716 2.54919 19.7441 2.54919 20.6308 4.92419L23.4174 12.35C23.8608 13.5059 25.0325 13.87 26.0458 13.1575L31.8408 9.02503C34.3108 7.25169 35.4983 8.1542 34.4849 11.02L28.0883 28.9275C27.8508 29.5292 27.1066 30.0517 26.4416 30.0517Z"
              stroke="#1D68E8"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
            ></path>
            <path
              opacity="0.34"
              d="M10.2916 34.8333H27.7083"
              stroke="#1D68E8"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
            ></path>
            <path
              opacity="0.34"
              d="M15.0416 22.1667H22.9583"
              stroke="#1D68E8"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
            ></path>
          </svg>
        </div>
      </div>
      <h2>برندسازی</h2>
      <p>
        برندینگ و اعتبار بالای خود را با یک طراحی سایت حرفه‌ای به همگان نشان
        دهید.
      </p>
    </div>
  </div>
</div>
