<div class="ever">
    <swiper-container  class="mySwiper page" space-between="30" pagination="true" pagination-clickable="true">
        <swiper-slide class="slider">
            <div class="box">
                <div class="picture">
                            <img src="Image/1.jpg" alt="طراحی سایت سانیلو">
                </div>
                <div class="slider-content">
                    <span class="sanilo-head">سانیلو بزرگترین مرجع طراحی سایت ایران</span>
                    <h2 class="slide-title">با ســـانیلو در میان رقیبان خود بدرخشــــید</h2>
                    <div>
                        <button mat-flat-button class="requset" routerLink="/login">درخواست مشاوره</button>
                    </div>
                    <div class="slider-footer">
                        <div>
                            <div class="count">+10</div>
                            <div>مشتری ثابت</div>
                        </div>
        
                        <div>
                            <div class="count">+50</div>
                            <div>برند همکار </div>
                        </div>
                        <div>
                            <div class="count">+100</div>
                            <div>پروژه موفق </div>
                        </div>
                    </div>
                </div>
            </div>                
        </swiper-slide>
        <swiper-slide class="slider">
            <div class="box">
                <div class="picture">
                            <img src="Image/1.jpg" alt="طراحی سایت سانیلو">
                </div>
                <div class="slider-content">
                    <span class="sanilo-head">سانیلو بزرگترین مرجع طراحی سایت ایران</span>
                    <h2 class="slide-title">با ســـانیلو در میان رقیبان خود بدرخشــــید</h2>
                    <div>
                        <button mat-flat-button class="requset" routerLink="/login">درخواست مشاوره</button>
                    </div>
                    <div class="slider-footer">
                        <div>
                            <div class="count">+10</div>
                            <div>مشتری ثابت</div>
                        </div>
        
                        <div>
                            <div class="count">+50</div>
                            <div>برند همکار </div>
                        </div>
                        <div>
                            <div class="count">+100</div>
                            <div>پروژه موفق </div>
                        </div>
                    </div>
                </div>
            </div>                
        </swiper-slide>
    </swiper-container>

</div>