<div class="ever">
     
    <swiper-container loop="true" navigation="true">
        <swiper-slide>
            <div class="box">
                <div class="picture">
                            <img src="../../../public/Image/تصویر-زمینه-برنامه-نویسی.webp" alt="">
                </div>
            </div>                
        </swiper-slide>
        <swiper-slide class="slider">
            <div class="box">
                <div class="picture">
                            <img src="../../../public/Image/desktop-source-code-wallpaper-by-computer-language-with-coding-programming_33771-595.jpg" alt="">
                </div>
            </div>                
        </swiper-slide>
        <swiper-slide class="slider">
            <div class="box">
                <div class="picture">
                            <img src="../../../public/Image/images (1).jpg" alt="">
                </div>
            </div>                
        </swiper-slide>
    </swiper-container>

</div>