<div class="page carousel-container">
  @for(image of images; track image.Id; let i = $index){
  <img
    [src]="image.imageSrc"
    [alt]="image.imageAlt"
    [ngClass]="{ 'image-active': selectedIndex === i }"
    class="fade"
  />

  } @if(indicators){
  <div class="carousel-dot-container">
    @for(dot of images; track dot.Id; let i = $index){
      <span
        class="dot"
        ngClass="'active' : selectedIndex === 1"
        (click)="selectImage(i)"
      ></span>

    }
  </div>

  }
  <div class="content">
    <h2 class="slide-title">سانیلو، پیشگام در طراحی و توسعه وب‌سایت‌های حرفـــه‌ای</h2>
    <span class="sanilo-head">از طراحی تا پیاده‌سازی، هر آنچه برای موفقیت آنلاین نیاز دارید</span>
  </div>
</div>
