<div class="ever">
  <div class="video">
    <img src="/Image/start.webp" alt="طراحی سایت سانیلو" />

  </div>
  <div class="para">
    <h2><span> طراحی سایت </span> از صفر تا صد</h2>
    <p>
      سفارش طراحی سایت فروشگاهی یا شرکتی به آژانس ما مراحل و الگوریتم مشخصی را
      داراست که اجرای قدم به قدم و بادقت آن ضروری است تا اهداف نهایی که همان جذب
      مخاطب هدف و سودآوری است، محقق گردد. باید خاطر نشان کرد که تمامی اعضای تیم
      طراحی وب سایت ما با اصول سئو و بهینه سازی سایت به طور کامل آشنا هستند تا
      عملیات بهینه سازی از ابتدا روی سایت پیاده شود.
    </p>
    <div class="link">
      <div class="address">
        <span> مشاهده نمونه کار </span>
      </div>
      <div class="address2">
        <span> درخواست مشاوره </span>
      </div>
    </div>
  </div>
</div>
