<div class="page" (scroll)="test()">
  <header class="head">
    <app-header></app-header>
  </header>
  <section>
    <app-slider [images]="images" [autoSlide]="true"></app-slider>
  </section>
  <section class="section">
    <app-web-good></app-web-good>
    <app-services></app-services>
    <app-icon></app-icon>
    <app-lisening></app-lisening>
    <app-model></app-model>
    <app-example></app-example>
    <app-question></app-question>
  </section>
  <footer>
    <app-footer></app-footer>
  </footer>
</div>
