<div class="ever">
  <div class="fast">
    <h2>دسترسی سریع</h2>
    <ul>
      <li><a href="#"> تماس با ما </a></li>
      <li><a href="#"> درباره ما </a></li>
      <li><a href="#"> وبلاگ </a></li>
      <li><a href="#"> آموزش‌ ها </a></li>
    </ul>
  </div>
  <div class="services">
    <h2>خدمات</h2>
    <ul>
      <li><a href="#"> طراحی سایت </a></li>
      <li><a href="#"> سئو و بهینه‌سازی </a></li>
      <li><a href="#"> امنیت وبسایت </a></li>
      <li><a href="#"> مشاوره </a></li>
    </ul>
  </div>
  <div class="salino">
    <h2> شرکت دیجیتال مارکتینگ <span> سانیلو </span></h2>
    <p>
      سانیلو شرکتی معتبر در زمینه دیجیتال مارکتینگ و طراحی سایت است ، تمام تمرکز ما روی بهبود و
      رفع نیاز های شما دوستان عزیز خواهد بود.
    </p>
  </div>
</div>
